.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}